dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

.vscode

result*

out

# TODO remove once bug corrected
*.cabal

funflow-tutorial/outputs
funflow-tutorial/notebooks/**/*.html
funflow-tutorial/notebooks/**/.ipynb_checkpoints

.tmp

.ipynb_checkpoints/

