# Project-specific
funflow-tutorial/outputs
funflow-tutorial/notebooks/**/*.html
funflow-tutorial/notebooks/**/.ipynb_checkpoints
.tmp
.ipynb_checkpoints/
makefiletest/

# Stack/Cabal
dist
dist-*
cabal-dev
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

# Editor
.vscode
.idea/
out

# Nix
result*
.envrc

# Standard
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
