dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
doc/sem/funflow.log
doc/sem/funflow.nav
doc/sem/funflow.out
doc/sem/funflow.pdf
doc/sem/funflow.snm
doc/sem/funflow.synctex.gz
doc/sem/funflow.toc
doc/sem/funflow.vrb
