/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Custom normalize */
body {
  background-color: white;
  color: black;
}

/* Color scheme */
:root {
  --primary: #5277c3;
  --primary-v: #8666f4;
  --primary-text-contrast: #ffffff;
  --secondary: #ffc658;
  --secondary-v: #ffa900;
  --third: #52c35d;
}

/* Common */

body {
  font-family: "Krub", sans-serif;
}

a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--secondary-v);
}
a:focus {
  color: var(--primary-v);
}

a.button {
  padding: 0.5em;
  border-radius: 0.3em;
}
a.button.primary {
  background: var(--primary);
  color: var(--primary-text-contrast);
}
a.button.primary:hover {
  background: var(--secondary);
}
a.button.primary:focus {
  background: var(--primary-v);
}

footer {
  padding: 0.2em;
  background: var(--primary);
  color: var(--primary-text-contrast);
  text-align: center;
}

footer a {
  color: var(--secondary);
}

/* Home page */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.homepage :nth-child(2n + 2) + section {
  background: #f9fdf6;
}

header {
  height: 40px;
  box-shadow: 0 2px 8px 0 #999;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  padding: 0.5em 1em;
}

header h1 {
  color: var(--primary);
  margin: 0;
  padding: 0;
}

header h1 small {
  color: black;
  font-size: 0.5em;
}
/* hide brand small on smaller devices */
@media screen and (max-width: 700px) {
  header h1 small {
    display: none;
  }
}

header nav {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

header nav > * {
  margin: 0 0.5em;
}

header nav a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 800;
}
header nav a:hover {
  border-bottom: solid 2px var(--secondary-v);
}
header nav a:focus {
  border-bottom: solid 2px var(--primary-v);
}

.hero {
  height: calc(100vh - 40px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  width: 80%;
  transform: translate(0px, -50px);
}

@media screen and (min-width: 700px) {
  .hero-container {
    width: 600px;
  }
}

.hero-title {
  font-size: 2em;
  color: var(--primary);
}

.hero-subtitle {
  font-size: 2em;
  color: #888;
}

.why {
  height: 100vh;
  padding: 1em 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why h3 {
  text-align: center;
  font-style: italic;
}

.why-items {
  margin: 0 10%;
  align-self: stretch;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-auto-rows: 1fr;
}

.why-item {
  margin: 0.5em 1em;
  padding: 0.8em;

  text-align: center;
}

.why-item-img {
  margin-bottom: 0.5em;

  width: 40%;

  stroke: transparent;
  fill: var(--third);
}

.why-item h5 {
  margin: 0.3em 0;

  font-size: 1.5em;
  color: var(--third);
}

.tableofcontent {
  margin: 4em 0;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 90%;
}
@media screen and (min-width: 700px) {
  .tableofcontent {
    width: 680px;
  }
}

.tableofcontent h3 {
  color: var(--primary);
}

.toc-tutorials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: 1fr;
}

.toc-tutorial-item {
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 2px 8px 0 #999;
}

.toc-tutorial-item-title {
  text-transform: uppercase;
}
